.add-location {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__icon {
    height: 21px;
    width: 21px;
    fill: black;
    cursor: pointer;
  }

  &__title {
    font-size: 16px;
    color: black;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
  }
}