* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: dimgray;
}

.max-width {
  width: 100%;
}

.app {
  position: relative;
  width: 240px;
  padding: 10px;
  padding-bottom: 20px;
  max-height: 100%;
  flex-shrink: 0;
}

.capitalize {
  text-transform: capitalize;
}

svg {
  fill: grey;
  flex-shrink: 0;
}

.direction {
  transform: rotate(-90deg);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &__header {
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__celcius {
    gap: 0px;
    height: 100px;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
  }

  &__wind {
    gap: 4px;
    font-size: 14px;
  }
}



.aggregate {
  margin: 15px 0;
  color: grey;
  font-size: 18px;
  text-align: center;
  background-color: lightcyan;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;

  &__settings {
    background-color: white;
  }
}


.icon {
  height: 20px;
  width: 20px;
  cursor: pointer;

  &__options {
    transition: transform 0.3s;

    &:hover {
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }

  &__info {
    height: 16px;
    width: 16px;
    fill: black;
  }

  &__menu {
    transition: transform 0.3s;
    &:hover {
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }

  &__basket {
    transition: fill 0.3s;
    &:hover {
      fill: red;
      transition: fill 0.3s;
    }
  }
}

.input {
  outline: none;
  width: 100%;
  border: 1px solid grey;
  padding: 6px;
  color: black;
  border-radius: 3px;
  background: white;

  &:focus {
    border: 1px solid rgb(64, 168, 202);
  }
}

.error {
  color: red;
  text-align: left;
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
  bottom: 3px;
  left: 10px;
}